# Kconfig file for LAMINPIE

menu "LAMINPIE configuration"

    # Define CONFIG_LAMINPIE__CONF_SKIP so we can use LAMINPIE
    # without laminpie_conf.h file, the product_config.json 
    # will be used instead.
    config LAMINPIE_CONF_SKIP
        bool "Uncheck this to use custom laminpie_conf.h"
        default y

    # config LAMINPIE_CONF_MINIMAL
    #     bool "LAMINPIE minimal configuration."

    menu "Log settings"
        choice LAMINPIE_LOG_LEVEL
            prompt "Log level."
            default LAMINPIE_LOG_LEVEL_INFO
            help
                Log level to be used.

            config LAMINPIE_LOG_LEVEL_DEBUG
                bool "Debug"
            config LAMINPIE_LOG_LEVEL_INFO
                bool "Info"
            config LAMINPIE_LOG_LEVEL_WARN
                bool "Warn"
            config LAMINPIE_LOG_LEVEL_ERROR
                bool "Error"
        endchoice

    endmenu

    menu "LAMINPIE - Core Configurations"
        menuconfig LAMINPIE_ENABLE_LOG
            bool "Log"
            default y
    
        if LAMINPIE_ENABLE_AI_FRAMEWORK
            rsource "ai_framework/Kconfig"
        endif
    
        menuconfig LAMINPIE_ENABLE_GUI
            bool "GUI"
            default y
    
        if LAMINPIE_ENABLE_GUI
            rsource "gui/Kconfig"
        endif
    
        menuconfig LAMINPIE_ENABLE_SERVICES
            bool "Services"
            default y
    
        if LAMINPIE_ENABLE_SERVICES
            rsource "services/Kconfig"
        endif
    
        menuconfig LAMINPIE_ENABLE_SYSTEMS
            bool "Systems"
            default y
    
        if LAMINPIE_ENABLE_SYSTEMS
            rsource "systems/Kconfig"
        endif
    endmenu
endmenu
